*{
  padding: 0;
}

body{
  background-color: #E4E4E1;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  background-blend-mode: multiply,multiply;
 	background-blend-mode: normal, multiply;
}

.imagen{
  float: right;
  width: 15%;
  padding-right: 225px;
}

 
  li{
    font-size: 18px;
  }

b{
  font-size: 20px;
  color:rgb(12, 36, 197);
}

.INFORMACION ul li{
  padding-left: 20%;
}

h1{
  font-size: 40px;
  color: rgb(6, 6, 115);
}

h2{
  font-size: 30px;
  color: rgb(6, 6, 115);
}

.OBJETIVOS{
  font-size: 18px;
  padding-left: 20%;
}

.EXPERIENCIAS{
  color: rgb(6, 6, 115);
  font-size: 19px;
}

.experiencia{
  padding-left: 20%;
}

.caja{
  padding-left: 20%;
}